<div class="pokemon-grid">
    
    <div class="box"><input onClick="window.location.href='https://pokeapi.co/api/v2/pokemon/1/'" type="button" value="bulbasaur"></div>
    <div class="box"><input onClick="window.location.href='https://pokeapi.co/api/v2/pokemon/2/'" type="button" value="ivysaur"></div>
    <div class="box"><input onClick="window.location.href='https://pokeapi.co/api/v2/pokemon/3/'" type="button" value="venusaur"></div>
    <div class="box"><input onClick="window.location.href='https://pokeapi.co/api/v2/pokemon/4/'" type="button" value="charmande"></div>
    <div class="box"><input onClick="window.location.href='https://pokeapi.co/api/v2/pokemon/5/'" type="button" value="charmeleon"></div>
    <div class="box"><input onClick="window.location.href='https://pokeapi.co/api/v2/pokemon/6/'" type="button" value="charizard"></div>
    <div class="box"><input onClick="window.location.href='https://pokeapi.co/api/v2/pokemon/7/'" type="button" value="squirtle"></div>
    <div class="box"><input onClick="window.location.href='https://pokeapi.co/api/v2/pokemon/8/'" type="button" value="blastoise"></div>
    <div class="box"><input onClick="window.location.href='https://pokeapi.co/api/v2/pokemon/9/'" type="button" value="caterpie"></div>
    <div class="box"><input onClick="window.location.href='https://pokeapi.co/api/v2/pokemon/10/'" type="button" value="caterpie"></div>
    <div class="box"><input onClick="window.location.href='https://pokeapi.co/api/v2/pokemon/11/'" type="button" value="metapod"></div>
    <div class="box"><input onClick="window.location.href='https://pokeapi.co/api/v2/pokemon/12/'" type="button" value="butterfree"></div>
    <div class="box"><input onClick="window.location.href='https://pokeapi.co/api/v2/pokemon/13/'" type="button" value="weedle"></div>
    <div class="box"><input onClick="window.location.href='https://pokeapi.co/api/v2/pokemon/14/'" type="button" value="kakuna"></div>
    <div class="box"><input onClick="window.location.href='https://pokeapi.co/api/v2/pokemon/15/'" type="button" value="beedrill"></div>
    <div class="box"><input onClick="window.location.href='https://pokeapi.co/api/v2/pokemon/16/'" type="button" value="pidgey"></div>
    <div class="box"><input onClick="window.location.href='https://pokeapi.co/api/v2/pokemon/17/'" type="button" value="pidgeotto"></div>
    <div class="box"><input onClick="window.location.href='https://pokeapi.co/api/v2/pokemon/18/'" type="button" value="pidgeot"></div>
    <div class="box"><input onClick="window.location.href='https://pokeapi.co/api/v2/pokemon/19/'" type="button" value="rattata"></div>
    <div class="box"><input onClick="window.location.href='https://pokeapi.co/api/v2/pokemon/20/'" type="button" value="raticate"></div>
</div>
